*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(250,184,30);
background: linear-gradient(90deg, rgba(250,184,30,1) 37%, rgba(255,208,108,1) 60%);
}
.container{
  margin: 0 auto;
  width: 500px;
}

.header-img{
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}
.header-img>img{
  width: 400px;
  display: block;
}

main{
  text-align: center;
  padding: 1rem;
  background-color: rgb(252, 102, 48);
  border-radius: 1rem;
}

h1{
  color: white;
  margin: 2rem;
}